<template>
    <div class="drop-down-wrapper">
        <input class="input" type="text" v-model="inputVal" @keyup.enter="save()" placeholder="Enter to submit">


        <button class="drop-down-button" @click="toggleShow()" v-on-clickaway="away">Button</button>

        <transition name="fade">
            <ul v-if="showList && list.length">
                <li v-for="l in list">{{l}}</li>
            </ul>

            <ul v-else-if="showList">
                <li>Nothing to show</li>
            </ul>
        </transition>

    </div>

</template>

<script>
    import {mixin as clickaway} from 'vue-clickaway';


    export default {
        mixins: [clickaway],
        data: function () {
            return {
                showList: false,
                list: [],
                inputVal: ''
            }
        },

        methods: {
            toggleShow() {
                this.showList = !this.showList;
            },

            away: function () {
                this.showList = false;
            },

            save: function () {
                if (this.inputVal.length) {
                    this.$http.post('/api/list-save', {
                        text: this.inputVal
                    }).then(function (response) {
                        this.list.push(response.body.text);
                        this.inputVal = '';
                    })
                }
            }
        },

        mounted() {
            this.$http.get('/api/list').then(function (response) {
                this.list = response.body;
            });
        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: all .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0;
    }

</style>
