.drop-down-wrapper {
  width: 200px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.drop-down-wrapper .drop-down-button {
  font-size: 18px;
  color: white;
  background-color: #04b8dd;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 20px;
}

.drop-down-wrapper .drop-down-button:hover {
  background-color: #038eab;
}

.drop-down-wrapper ul {
  position: absolute;
  top: 105%;
  overflow: hidden;
  width: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.drop-down-wrapper ul li {
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  background-color: #3f3f3f;
  border-bottom: 1px solid #323232;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.drop-down-wrapper ul li:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  background-color: #3c3c3c;
  color: #04b8dd;
}

.drop-down-wrapper ul:before {
  content: "";
  display: block;
  margin: 0 auto;
  background: transparent;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #3f3f3f;
}

li:first-child:hover + .drop-down-wrapper ul:before {
  background-color: red;
}

.input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid #04b8dd;
  outline: none;
  font-size: 18px;
}

