.drop-down-wrapper {
  width: 200px;
  margin: 0 auto;
  position: relative;
  text-align: center;

  .drop-down-button {
    font-size: 18px;
    color: white;
    background-color: rgb(4, 184, 221);
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    &:hover {
      background-color: darken(rgb(4, 184, 221), 10%);
    }
  }

  ul {
    position: absolute;
    top: 105%;
    overflow: hidden;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    li {
      padding: 10px 15px;
      font-size: 18px;
      color: white;
      background-color: rgb(63, 63, 63);
      border-bottom: 1px solid darken(rgb(63, 63, 63), 5%);
      transition: all 0.2s;

      &:hover {
        transition: all 0.4s;
        cursor: pointer;
        background-color: darken(rgb(63, 63, 63), 1%);
        color: rgb(4, 184, 221);
      }
    }

    //  ul before
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      background: transparent;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid rgb(63, 63, 63);
    }

    li:first-child:hover + &:before {
      background-color: red;
    }
  }
}

.input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid rgb(4, 184, 221);
  outline: none;
  font-size: 18px;
}

